body {
    margin-top: 50px;
    margin-right:10px;
}

.soundImage{
    width:50px;
    height:50px;
}

.soundImage2 {
    width: 35px;
    height: 35px;
}

.pageTitle {
    font-size: 13.0pt;
    line-height: 115%;
    font-family: Tahoma;
    color: #B13F9A;
    font-weight: bold;
      margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 20pt;
    font-family: 'Times New Roman';
    direction: rtl;
}

.textBold
{
    font-size: 13pt;
    font-family: 'Times New Roman';
    direction: rtl;
    font-weight:bold;
}



.table-body {
    border-collapse: collapse;
    border: none;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
}

    .table-body thead td {
        text-align: center;
        font-size: 13pt;
        font-family: 'Times New Roman';
        font-weight:bold;
    }

.table-body tbody td {
    text-align: center;
    font-size: 13pt;
    font-family: 'Times New Roman';
}

.table-body2 {
    border-collapse: collapse;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
       border:1px solid #CCC;
    border-collapse:collapse;
}

    .table-body2 thead td {
        text-align: center;
        font-size: 13pt;
        font-family: 'Times New Roman';
        font-weight:bold;
    }

.table-body2 tbody td {
    text-align: center;
    font-size: 13pt;
    font-family: 'Times New Roman';
     border:none;
}

.table-body tr:nth-child(even) {
    background-color:#D7DAE2;
}
